# Python bytecode and caches
__pycache__/
*.py[cod]
.mutmut-cache
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Secrets and local config
.env

# VS Code (Personalized files)
.vscode/

# Coverage reports
.coverage
htmlcov/

# OS specific files
.DS_Store
Thumbs.db